.volver{
    border: 2px solid rgb(1, 14, 60);
    background-color: rgb(68, 68, 221);
    color: white;
}

.volver:hover{
    background-color: rgb(0, 255, 234);
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(1, 154, 250, 0.459), 0 17px 50px 0 rgba(92, 151, 246, 0.493);
    color: black
}

.bg-amarillo{
    background-color: rgb(249, 240, 140);
}

.canv{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    margin-bottom: 40px;
}

.juego{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 650px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

