<div class="bg-image" style="background-image: url('../../../assets/img/Gaming-bg.jpg'); width:100vw; height: 90vh;">
    <div class="d-flex container justify-content-center align-items-center">
        <div class="p-3">
            <h3 class="text-white">Datos del Alumno:</h3><br>
            <p class="text-white">Apellido: Pavlov</p>
            <p class="text-white">Nombre: Valeriy</p>
            <p class="text-white">DNI: 18895771</p>
            <p class="text-white">Email: valeriypavlov44@gmail.com</p>
            <p class="text-white">Materia: Laboratorio de Computacion IV</p>
            <p class="text-white">Division: B</p>
            <p class="text-white">Juego propio: Breakout. <br>
                Apreta el boton "Jugar" para empezar el juego!<br>
                Deben usar las flechas del teclado para manejar la paleta, <br>
                destruye todos los bloques para sumar puntos y ganar!</p>
        </div>
        <img src="../../../assets/img/alumno.png" alt="alumno" class="h-25 w-25">
    </div>
</div>
