
.boton{
    background-color: rgb(5, 197, 250);
    border: 5px solid rgb(71, 71, 252);
    border-radius: 15px;
    padding: 10px;
}

.boton:hover{
    background-color: rgb(59, 243, 59);
    border: 5px solid rgb(1, 29, 74);
    box-shadow: 0 12px 16px 0 rgba(10, 248, 2, 0.459), 0 17px 50px 0 rgba(59, 216, 11, 0.202);
}

.title{
    position: absolute;
    left: 30%;
}