.espacio{
    letter-spacing: 5px;
}

.btn:hover{
    background-color:green;
}

.letra{
    padding: 4px;
    margin: 4px;
}

.letra:hover{
    background-color: rgb(234, 245, 172);
}

.bg-azul{
    background-color: rgb(5, 188, 179);
}