.espacio{
    letter-spacing: 5px;
}

.btn:hover{
    background-color:green;
}

.letra{
    padding: 8px;
    margin: 5px;
}

.letra:hover{
    background-color: rgb(219, 239, 107);
}

.bg-azul{
    background-color: rgb(5, 188, 179);
}