<div class="bg-azul">
    <input type="button" value="Volver" class="btn btn-warning m-3 p-2" routerLink="/home">
    <div class="container d-flex align-items-center justify-content-center flex-column" style="width: 100vw; height: 82.2vh;">
        <h2>Ahorcado</h2>
        <img src="{{img}}" alt="">
        <h3>{{pregunta}}</h3>
        <h2 class="espacio">{{letras}}</h2>
        <div class="card bg-dark">
            <div class="d-flex justify-content-center align-items-center">
                <input type="button" value="Q" (click)="AgregarLetra('Q', 0)" class="letra" [disabled]="teclas[0]">
                <input type="button" value="W" (click)="AgregarLetra('W', 1)" class="letra" [disabled]="teclas[1]">
                <input type="button" value="E" (click)="AgregarLetra('E', 2)" class="letra" [disabled]="teclas[2]">
                <input type="button" value="R" (click)="AgregarLetra('R', 3)" class="letra" [disabled]="teclas[3]">
                <input type="button" value="T" (click)="AgregarLetra('T', 4)" class="letra" [disabled]="teclas[4]">
                <input type="button" value="Y" (click)="AgregarLetra('Y', 5)" class="letra" [disabled]="teclas[5]">
                <input type="button" value="U" (click)="AgregarLetra('U', 6)" class="letra" [disabled]="teclas[6]">
                <input type="button" value="I" (click)="AgregarLetra('I', 7)" class="letra" [disabled]="teclas[7]">
                <input type="button" value="O" (click)="AgregarLetra('O', 8)" class="letra" [disabled]="teclas[8]">
                <input type="button" value="P" (click)="AgregarLetra('P', 9)" class="letra" [disabled]="teclas[9]">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <input type="button" value="A" (click)="AgregarLetra('A', 10)" class="letra" [disabled]="teclas[10]">
                <input type="button" value="S" (click)="AgregarLetra('S', 11)" class="letra" [disabled]="teclas[11]">
                <input type="button" value="D" (click)="AgregarLetra('D', 12)" class="letra" [disabled]="teclas[12]">
                <input type="button" value="F" (click)="AgregarLetra('F', 13)" class="letra" [disabled]="teclas[13]">
                <input type="button" value="G" (click)="AgregarLetra('G', 14)" class="letra" [disabled]="teclas[14]">
                <input type="button" value="H" (click)="AgregarLetra('H', 15)" class="letra" [disabled]="teclas[15]">
                <input type="button" value="J" (click)="AgregarLetra('J', 16)" class="letra" [disabled]="teclas[16]">
                <input type="button" value="K" (click)="AgregarLetra('K', 17)" class="letra" [disabled]="teclas[17]">
                <input type="button" value="L" (click)="AgregarLetra('L', 18)" class="letra" [disabled]="teclas[18]">
                <input type="button" value="Ñ" (click)="AgregarLetra('Ñ', 19)" class="letra" [disabled]="teclas[19]">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <input type="button" value="Z" (click)="AgregarLetra('Z', 20)" class="letra" [disabled]="teclas[20]">
                <input type="button" value="X" (click)="AgregarLetra('X', 21)" class="letra" [disabled]="teclas[21]">
                <input type="button" value="C" (click)="AgregarLetra('C', 22)" class="letra" [disabled]="teclas[22]">
                <input type="button" value="V" (click)="AgregarLetra('V', 23)" class="letra" [disabled]="teclas[23]">
                <input type="button" value="B" (click)="AgregarLetra('B', 24)" class="letra" [disabled]="teclas[24]">
                <input type="button" value="N" (click)="AgregarLetra('N', 25)" class="letra" [disabled]="teclas[25]">
                <input type="button" value="M" (click)="AgregarLetra('M', 26)" class="letra" [disabled]="teclas[26]">
            </div>
        </div>
        <input type="button" class="btn btn-warning m-2" value="{{btnLabel}}" (click)="Jugar()">
    </div>
</div>
